<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	  
	  <display-name>SpringMvcPx</display-name>
	  
	  <!-- Spring 在web容器加载的时候，加载配置文件和Servlet -->
	  <servlet>
		  	<servlet-name>SpringMVCServlet</servlet-name>
		  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		  	<!-- 在web启动的实际就加载applicationContext.xml，将所有的bean加载进容器 -->
		  	<init-param>
		  		<param-name>contextConfigLocation</param-name>
		  		<param-value>classpath:applicationContext.xml</param-value>
		  	</init-param>
	  </servlet>
	  
	  <servlet-mapping>
		  	<servlet-name>SpringMVCServlet</servlet-name>
		  	<url-pattern>*.htm</url-pattern>
	  </servlet-mapping>
	  
	  
	  
	  <!--  自己定义的Servlet  -->
	  <servlet>
	  		<servlet-name>MvcServlet</servlet-name>
	  		<servlet-class>com.spring.mvc.cp2.MVCServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	  		<servlet-name>MvcServlet</servlet-name> <!-- 和上面的Servlet的 name一致 -->
	  		<url-pattern>/test/servlet</url-pattern>
	  </servlet-mapping>
	  
	  <welcome-file-list>
	    	<welcome-file>index.html</welcome-file>
	  </welcome-file-list>
  		
</web-app>

